.services {
  background-image: url('../../assets/leav.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.card-s {
  background: white;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.07);
  border-bottom: solid 3px #6d2e52;
  padding: 10px;
  text-align: center;
}

.cir-bg {
  width: 90px;
  height: 90px;
  background: #f2f2f2;
  border-radius: 50%;
  padding: 10px;
}

.testmon {
  width: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}
