.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  color: #000;
}

nav {
  background: rgba(0, 0, 0, 0);
  color: #fff;
  box-shadow: none;
  position: fixed !important;
  top: 37px;
  width: 100%;
  z-index: 9999;
}

.nav-link {
  color: black;
  margin-right: 10px;
}

.nav-link:hover {
  color: grey;
}

.logoWhite {
  display: none;
}

.changeNav {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  box-shadow: none;
  position: fixed;
  top: 0px;
  width: 100%;
}

.changeNav .nav-link,
.changeNav .fa-bars,
.changeNav .fa-times {
  color: white;
}

.addLogo {
  opacity: 1;
}

nav .navbar-brand {
  opacity: 0;
}

.welcome {
  background-image: url('../../assets/248613-P3U1ZD-912.jpeg');
  background-size: cover;
  background-position: 0px -850px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.welcome h1,
h3 {
  font-weight: bold;
  color: black;
  letter-spacing: 5px;
  font-size: 4em;
  text-align: center;
}

.main img {
  max-width: 350px;
  max-height: 350px;
}
